@font-face {
    font-family: mashxura;
    src: url(./Rubik_Distressed/RubikDistressed-Regular.ttf);
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.title{
    text-align: center;
    color: red;
}
/* #theme{
    color: red;
 */
 #theme{
    color: red;
 }
.html .body .text{
    color: blue;
}
.text{
    color: red !important;
    font-size: 22px !important;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
}
#theme{
    color: pink !important;
}
.desc{
    font-size: 28px;
    font-family: cursive;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 10px;
    word-spacing: 50px;
    padding-top: 50px;
    line-height: 2;
}
.font{
    color: red;
    font-size: 25px;
    font-family: mashxura;
}